body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #121212;
  color: #fff;
  overflow-x: hidden; /* Убираем горизонтальную прокрутку */
}

header {
  background-color: #1c1c1c;
  padding: 10px 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 20px;
  margin: 0;
}

.donate-link {
  color: #4caf50;
  text-decoration: none;
  font-size: 14px;
}

#search-bar {
  width: calc(100% - 40px); /* Чтобы уменьшить отступы и убрать горизонтальную прокрутку */
  padding: 10px;
  margin: 10px 20px; /* Делаем отступы симметричными */
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #2c2c2c;
  color: #fff;
}

.reset-btn {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f44336;
  color: #fff;
  cursor: pointer;
}

.reset-btn:hover {
  background-color: #d32f2f;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.filter-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #2c2c2c;
  color: #fff;
  cursor: pointer;
}

.filter-btn.active {
  background-color: #4caf50;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 20px;
}

.categories span {
  background-color: #2c2c2c;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.categories span.active {
  background-color: #4caf50;
}

.app-list {
  padding: 20px;
}

.app {
  display: flex;
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  align-items: center;
}

.app img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 15px;
}

.app-details {
  flex-grow: 1;
}

.app-details h2 {
  font-size: 16px;
  margin: 0;
}

.app-details p {
  font-size: 14px;
  margin: 5px 0;
}

.app-details .version {
  font-size: 12px;
  color: #bbb;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
